build
*.cbp
*cppcheck*
Doxyfile
*.out
*.swp
html/*
latex/*
docs/*
*.o
*.h.gch
.settings/
cmake_install.cmake
CMakeFiles
CMakeCache.txt
Makefile
*/baseline/*.html
*.so
*.png
.idea/
*.a
bin
lib
include/build_info.h
cmake-build-debug/
CPackConfig.cmake
CPackSourceConfig.cmake
**/.DS_Store
