sudo: false
dist: trusty
language: cpp
os:
 - linux
compiler:
 - gcc
 - clang
install:
# /usr/bin/gcc is 4.6 always, but gcc-X.Y is available.
- if [[ $CXX = g++ ]]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
# /usr/bin/clang has a conflict with gcc, so use clang-X.Y.
# - if [[ $CXX = clang++ ]]; then export CXX="clang++-3.5" CC="clang-3.5"; fi
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.5 # not sure why we needed this
  packages:
    - gcc-4.9
    - g++-4.9
#    - clang-3.5
    - cmake-3.2
